body {
    background-color: #F8EDE3;
}
hr {
    
    border-style: none;
    width: 5%;
    border-top: 5px dotted #BDD2B6;

}
img {
    height: 150px;
    width:  150px;




}
h1 {
    color: #A2B29F;




}
h3 {
    color: #798777;


}